*{
    margin: 0;
    padding: 0;
}

body{
    
   
    color: #ffffff;
}

.cabecalho{
       display: flex;
       background-color: #F60063;
       align-items: center;
       font-size: 15px;
       justify-content: space-between;
       padding: 24px 0;

}

.cabecalho-imagem{
     width:20% ;
     margin-left: 50px ;
}

.lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}
.cabecalho-lista{
    margin-right: 150px;
}
.secao1{
    display: flex;
    background: rgb(246,0,99);
    background: linear-gradient(0deg, rgba(246,0,99,1) 0%, rgba(255,169,205,1) 100%);
    color: white;
    align-items: center;
    justify-content:center;
    font-size: 22px;
    
}.secao2 { background: rgb(246,0,99);
    background: (0deg, rgba(246,0,99,1) 0%, rgba(255,169,205,1) 100%);
    color: white;
    align-items: center;
    justify-content:center;
    font-size: 25x;
}
.secao2-titulo{
    font-size: 30px;
    padding: 25px 20px;


}
     
.secao2-todos-personagens {
display: grid;
grid-template-columns: 15% 15% 15%15%

}
.secao2-todos-personagens img {
    margin: 50px;
    height: 270px;
    width: 159px;
}
