*{
    margin: 0;
    padding: 0;
}

body{
    
   
    color:white;
}

.cabecalho{
       display: flex;
       background-color: #F60063;
       align-items: center;
       font-size: 20px;
       justify-content: space-around;
       padding: 24px 0;

}

.cabecalho-imagem{
     width:20% ;
}